{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "loose": true,
        "shippedProposals": true,
        "debug": false,
        "useBuiltIns": "usage"
      }
    ],
    [
      "@emotion/babel-preset-css-prop",
      {
        "sourceMap": true,
        "labelFormat": "[filename]__[local]"
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "@wordpress/babel-plugin-import-jsx-pragma",
      {
        "scopeVariable": "jsx",
        "source": "@emotion/core",
        "isDefault": false,
      }
    ],
    [
      "@babel/transform-react-jsx",
      {
        "pragma": "jsx",
        "pragmaFrag": "React.Fragment"
      }
    ],
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": true
      }
    ],
    "@babel/proposal-object-rest-spread",
    [
      "@babel/plugin-proposal-decorators",
      {
        "decoratorsBeforeExport": true
      }
    ]
  ]
}
